---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
        <a href="/posts/post-1">进入md页面</a>

		<h1>Astro</h1>
		<p>请不要觉得是英文就得第一时间找翻译，尝试一下，尝试一下</p>
		<h1>连接测试</h1>
	</body>
</html>
